$--color-primary: #000;
$--background-color-base: #000;
$--color-white: #000;

$--color-text-primary: #fff;
$--color-text-regular: #fff;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';
