/* Colors */
@main-red: #8f0b0b;
@link-color-red: #b91d1d;
@text-color: rgb(236, 236, 236);
@text-color-secondary: rgb(185, 185, 185);
@primary-gray: rgb(15, 15, 15);
@background-gray: rgb(22, 22, 22);
@background-gray-light: rgba(148, 148, 148, 0.05);
@mobile-card-height: 10rem;
@mobile-card-width: 8rem;
@mobile-mini-card-width: 6rem;
@mobile-wide-card-height: 6rem;
@mobile-wide-card-width: 11.4rem;
@mobile-width: 767px;
/* Backgrounds */
@translucent-bg: rgba(0, 0, 0, 0.4);

// Variables
@default-radius: 4px;
@light-border: #252525;

.width-100 {
    width: 100%;
}

img[lazy='loading'] {
    animation: shimmer 8s infinite;
    animation-timing-function: linear;
    background: linear-gradient(to right, #222 4%, #252525 25%, #222 36%);
}
img[lazy='error'] {
    object-fit: contain;
    padding: 20%;
}
@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

.shadow-text {
    text-shadow: 0px 0px 10px rgba(0, 0, 0);
}

.flex-center {
    display: flex;
    justify-content: center !important;
}
.flex-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right !important;
}

img[src='/images/rating/google.svg'] {
    padding: 0.1em;
}
img[src='/images/rating/tmdb.svg'] {
    height: 2.2em;
}
img[src='/images/ott/youtube.png'] {
    padding: 0.3em;
}
img[src='/images/ott/google.svg'] {
    padding: 0.4em;
}
img[src='/images/ott/sonyliv.png'] {
    padding: 0.2em;
}
img[src='/images/ott/hotstar.svg'] {
    padding: 0.2em;
}

.ext-links-container {
    height: 5em;
}
.frosted {
    background: @translucent-bg;
    box-shadow: inset 0 0 7px rgb(42, 42, 42);
    backdrop-filter: blur(15px);
    border-radius: @default-radius;
}
.rating-info {
    padding: 0.2em;
    border: 0.15em solid #ccc;
    border-radius: 100%;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.418);
    width: 2.2em;
    height: 1.9em;
    text-align: center;
    vertical-align: middle;
    display: inline-table;
    padding: 0.2em;
    font-size: 1.6em;
}
a:hover {
    color: @text-color;
    text-decoration: none;
}
a {
    color: @text-color;
    text-decoration: none;
}
.overview {
    font-size: 14px;
}
.overview-container {
    margin-top: 2rem;
    margin-left: 3rem;
    @media (max-width: @mobile-width) {
        margin-left: 1rem;
    }
    .overview-heading {
        display: flex;
        gap: 20px;
        align-items: center;
        .parental-guide {
            background-color: #222;
            padding: 0.2rem 1rem;
            border-radius: 0.5rem;
        }
    }
    .keywords-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        gap: 10px;
        .keyword {
            display: block;
            line-height: 1rem;
        }
    }
}
.expand-ellipsis {
    background: rgba(0, 0, 0, 0.404);
    font-size: 1.1rem;
    padding: 0 0.3em;
    padding-bottom: 0.2em;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    width: 2em;
}
.movies-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12em);
    gap: 2em;
    justify-content: space-between;
    padding: 1em;
}
@media (min-width: 768px) {
    /deep/ .desk-hide {
        display: none !important;
    }
}
@media (max-width: 767px) {
    /deep/ .mobile-hide {
        display: none !important;
    }
    .movies-grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5em;
        justify-content: space-between;
        padding: 0.5em !important;
        width: 100%;
        a {
            width: calc(100vw/3 - 0.5rem) !important;
        }
        .movie-card-image {
            width: calc(100vw/3 - 0.5rem) !important;
        }
        .img-container {
            width: calc(100vw/3 - 0.5rem) !important;
        }
        >div {
            width: calc(100vw/3 - 1rem) !important;
            overflow: hidden;
        }
    }
    /deep/ .movie-item {
        width: @mobile-card-width !important;
        height: auto !important;
    }
    /deep/ .movie-card-image {
        width: @mobile-card-width !important;
        height: auto !important;
    }
    /deep/ .person-card-image {
        width: @mobile-card-width !important;
        height: auto !important;
    }
    /deep/ .movie-card-image {
        width: @mobile-card-width !important;
        height: auto !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}
.rating-container {
    padding-top: 0.2em;
    width: 4em;
    text-align: center;
    img {
        width: 2.2em;
    }
    span {
        font-size: 0.9em;
    }
}
.updatedInfo {
    color: grey;
    font-size: 0.8rem;
    a {
        cursor: pointer;
        text-decoration: underline;
    }
}
.secondary-text {
    color: @background-gray;
}
html.dark {
    .secondary-text {
        color: @text-color-secondary;
    }
}