
/deep/ .el-tabs__item {
    font-size: 1.1em;
    color: #ccc;
}
/deep/ .el-tabs__item.is-active {
    color: #c01111;
}
/deep/ .el-tabs__active-bar {
    background-color: #c01111;
}
/deep/ .el-tabs__nav-wrap::after {
    background-color: rgb(29, 29, 29);
}

/* Colors */
@main-red: #850909;
@link-color-red: #b91d1d;
@text-color: #ddd;
@primary-gray: rgb(15, 15, 15);
@background-gray: rgb(24, 24, 24);

/* Backgrounds */
@translucent-bg: rgba(0, 0, 0, 0.4);

.flex-center {
    display: flex;
    justify-content: center !important;
}
.flex-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right !important;
}

// Carousel styles
/deep/ .el-carousel__arrow {
    margin: 1em;
    background-color: #0000007a;
    color: white;
    border-radius: 1em;
}
/deep/ .el-carousel__button {
    border: 2px solid white;
}
// Button styles
/deep/ .el-button {
    color: white;
    border-color: #222;
}
/deep/ .el-button:hover {
    color: white;
    border-color: #777;
}
/deep/ .el-button:focus {
    color: white;
    border-color: #777;
}
/deep/ .el-input__inner {
    color: white;
    border-color: #111;
}
/deep/ .el-input__inner:hover {
    color: white;
    border-color: #222;
}
// date range
/deep/ .el-range-input {
    background-color: black;
}
/deep/ .el-date-editor .el-range-separator {
    width: 10%;
}
/deep/ .el-picker-panel {
    color: black;
}
/deep/ .el-date-table td.today {
    color: @main-red !important;
}
.el-select-dropdown__item.selected {
    color: white !important;
}
/deep/ .el-switch__core::after {
    background-color: #777 !important;
}
/deep/ .el-tabs__item {
    font-size: 1.1em;
    color: #ccc;
}
/deep/ .el-tabs__item:hover {
    color: #c01111;
}
/deep/ .el-tabs__item.is-active {
    color: #c01111;
}
/deep/ .el-tabs__active-bar {
    background-color: #c01111;
}
/deep/ .el-tabs__nav-wrap::after {
    background-color: #333;
}
.rating-info {
    padding: 0.2em;
    border: 0.15em solid #ccc;
    border-radius: 100%;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.418);
    width: 2.2em;
    height: 1.9em;
    text-align: center;
    vertical-align: middle;
    display: inline-table;
    padding: 0.2em;
    font-size: 1.6em;
}
a:hover {
    color: @text-color;
    text-decoration: none;
}
a {
    color: @text-color;
    text-decoration: none;
}
.el-tag.el-tag--info {
    background-color: #0e0f0fec;
    border-color: #000000;
    color: #a1a1a1;
    cursor: pointer;
}
.expand-ellipsis {
    background: rgba(100, 100, 100, 0.4);
    font-size: 1em;
    padding: 0 0.3em;
    padding-bottom: 0.2em;
    cursor: pointer;
    width: 2em;
}
// Dropdown styles
.el-dropdown-menu__item:not(.is-disabled):hover {
    color: white;
}
// Nav bar Styles
.el-menu-item {
    font-weight: 400;
    font-size: 16px;
}
.el-menu-item:hover {
    color: @link-color-red !important;
}
.el-menu.el-menu--horizontal {
    border: 0;
}
/deep/ .el-input-group__append {
    border-color: #111 !important;
}
/deep/ .el-input-group__append:hover {
    border-color: #222 !important;
}
/deep/ .el-button:hover {
    border-color: #222 !important;
}
/deep/ .el-button:focus {
    border-color: #222 !important;
    outline: none !important;
}
