/deep/ .el-tabs__item {
    font-size: 1.1em;
    color: #ccc;
}
/deep/ .el-tabs__item.is-active {
    color: #c01111;
}
/deep/ .el-tabs__active-bar {
    background-color: #c01111;
}
/deep/ .el-tabs__nav-wrap::after {
    background-color: rgb(29, 29, 29);
}

/* Colors */
@main-red: #8f0b0b;
@link-color-red: #b91d1d;
@text-color: rgb(236, 236, 236);
@primary-gray: rgb(15, 15, 15);
@background-gray: rgb(24, 24, 24);
@background-gray-light: rgba(148, 148, 148, 0.05);
@mobile-card-height: 10em;
@mobile-card-width: 8em;
@mobile-mini-card-width: 6em;
@mobile-wide-card-height: 6em;
@mobile-wide-card-width: 11.4em;
@mobile-width: 767px;
/* Backgrounds */
@translucent-bg: rgba(0, 0, 0, 0.4);

// Variables
@default-radius: 4px;
@light-border: #252525;

/deep/ .el-button--danger {
    background-color: @main-red;
}

img[lazy='loading'] {
    animation: shimmer 8s infinite;
    animation-timing-function: linear;
    background: linear-gradient(to right, #222 4%, #252525 25%, #222 36%);
}
img[lazy='error'] {
    object-fit: contain;
    padding: 20%;
}
@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

.shadow-text {
    text-shadow: 0px 0px 10px rgba(0, 0, 0);
}
.el-loading-mask {
    background-color: rgba(50, 50, 50, 0.9) !important;
}

.flex-center {
    display: flex;
    justify-content: center !important;
}
.flex-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right !important;
}

img[src='/images/rating/google.svg'] {
    padding: 0.1em;
}
img[src='/images/rating/tmdb.svg'] {
    height: 2.2em;
}
img[src='/images/ott/youtube.png'] {
    padding: 0.3em;
}
img[src='/images/ott/google.svg'] {
    padding: 0.4em;
}
img[src='/images/ott/sonyliv.png'] {
    padding: 0.2em;
}
img[src='/images/ott/hotstar.svg'] {
    padding: 0.2em;
}

.ext-links-container {
    height: 5em;
}
.frosted {
    background: @translucent-bg;
    box-shadow: inset 0 0 7px rgb(42, 42, 42);
    backdrop-filter: blur(15px);
    border-radius: @default-radius;
}
// Carousel styles
/deep/ .el-carousel__arrow {
    margin: 1em;
    background-color: #0000007a;
    color: @text-color;
    border-radius: 1em;
}
/deep/ .el-carousel__button {
    border: 2px solid @text-color;
}
// Button styles
/deep/ .el-button {
    color: @text-color;
    border-color: #222;
}
/deep/ .el-button:hover {
    color: @text-color;
    border-color: #777;
}
/deep/ .el-button:focus {
    color: @text-color;
    border-color: #777;
}
/deep/ .el-input__inner {
    color: @text-color;
    border-color: @light-border;
    border-radius: @default-radius;
}
/deep/ .el-input__inner:hover {
    color: @text-color;
    border-color: #222;
}
.lightMode {
    .el-input__inner {
        color: black !important;
        border-color: #fff !important;
    }
    .el-input__inner {
        background-color: #eee !important;
    }
    .el-input__inner:hover {
        color: @text-color;
        border-color: #222;
    }
}
.el-popover {
    border: 1px solid black !important;
    box-shadow: 0 2px 70px 25px rgb(0 0 0) !important;
    padding: 0 !important;
    overflow: hidden;
    .popper__arrow {
        display: none !important;
    }
}
// date range
/deep/ .el-range-input {
    background-color: black;
}
/deep/ .el-date-editor .el-range-separator {
    width: 10%;
}
/deep/ .el-picker-panel {
    color: black;
}
/deep/ .el-date-table td.today {
    color: @main-red !important;
}
.el-select-dropdown__item.selected {
    color: @text-color !important;
}
/deep/ .el-switch__core::after {
    background-color: #777 !important;
}
/deep/ .el-tabs__item {
    font-size: 1.1em;
    color: #ccc;
}
/deep/ .el-tabs__item:hover {
    color: #c01111;
}
/deep/ .el-tabs__item.is-active {
    color: #c01111;
}
/deep/ .el-tabs__active-bar {
    background-color: #c01111;
}
/deep/ .el-tabs__nav-wrap::after {
    background-color: #333;
}
.rating-info {
    padding: 0.2em;
    border: 0.15em solid #ccc;
    border-radius: 100%;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.418);
    width: 2.2em;
    height: 1.9em;
    text-align: center;
    vertical-align: middle;
    display: inline-table;
    padding: 0.2em;
    font-size: 1.6em;
}
a:hover {
    color: @text-color;
    text-decoration: none;
}
a {
    color: @text-color;
    text-decoration: none;
}
.overview {
    font-size: 14px;
}
.overview-container {
    margin-top: 2rem;
    margin-left: 3rem;
    @media (max-width: @mobile-width) {
        margin-left: 1rem;
    }
    .overview-heading {
        display: flex;
        gap: 20px;
        .parental-guide {
            background-color: #222;
            padding: 0.2rem 1rem;
            border-radius: 0.5rem;
        }
    }
    .keywords-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        gap: 10px;
        .keyword {
            display: block;
            line-height: 1rem;
        }
    }
}
.keyword {
    display: inline;
    line-height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.534);
    box-shadow: inset 0 0 5px #626262;
    color: #ccc;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    font-size: 13px;
    backdrop-filter: blur(15px);
}
.el-tag.el-tag--info {
    background-color: #0e0f0fec;
    border-color: #000000;
    color: #a1a1a1;
    cursor: pointer;
}
.expand-ellipsis {
    background: rgba(0, 0, 0, 0.404);
    font-size: 1.1rem;
    padding: 0 0.3em;
    padding-bottom: 0.2em;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    width: 2em;
}
// Dropdown styles
.el-dropdown-menu__item:not(.is-disabled):hover {
    color: @text-color;
}
// Nav bar Styles
.el-menu {
    .nav-menu-item {
        color: @text-color !important;
        background: none;
        font-weight: 400;
        font-size: 16px;
        &.is-active {
            background: none !important;
            font-weight: 500;
            color: @main-red !important;
        }
        :hover {
            color: @link-color-red !important;
        }
        :visited {
            color: @text-color !important;
        }
    }
    .el-menu-item {
        color: @text-color !important;
        background: none;
        font-weight: 400;
        font-size: 16px;
    }
    &.el-menu--horizontal {
        border: 0;
    }
}
/deep/ .el-input-group__append {
    border-color: #111 !important;
}
/deep/ .el-input-group__append:hover {
    border-color: #222 !important;
}
/deep/ .el-button:hover {
    border-color: #222 !important;
}
/deep/ .el-button:focus {
    border-color: #222 !important;
    outline: none !important;
}
.movies-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12em);
    gap: 2em;
    justify-content: space-between;
    padding: 1em;
}
@media (min-width: 768px) {
    /deep/ .desk-hide {
        display: none !important;
    }
}
@media (max-width: 767px) {
    /deep/ .mobile-hide {
        display: none !important;
    }
    .movies-grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, @mobile-card-width);
        gap: 0.5em;
        justify-content: space-between;
        padding: 0.5em !important;
    }
    /deep/ .movie-item {
        width: @mobile-card-width !important;
        height: auto !important;
    }
    /deep/ .movie-card-image {
        width: @mobile-card-width !important;
        height: auto !important;
    }
    /deep/ .person-card-image {
        width: @mobile-card-width !important;
        height: auto !important;
    }
    /deep/ .movie-card-image {
        width: @mobile-card-width !important;
        height: auto !important;
    }
}

// Checkbox
.el-checkbox__input.is-checked + .el-checkbox__label {
    color: #bbb !important;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: @main-red !important;
    stroke: @text-color !important;
}

.el-button--danger,
.el-button--danger:hover,
.el-button--danger:focus {
    background-color: @main-red;
}

// Radio buttons
.el-radio-button__orig-radio + .el-radio-button__inner {
    color: @text-color !important;
    border-color: @link-color-red !important;
    opacity: 0.8;
}
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
    color: @text-color !important;
    border: 2px solid @link-color-red !important;
    border-radius: @default-radius !important;
    font-size: 16px;
    opacity: 1;
}

.cursor-pointer {
    cursor: pointer;
}
.el-dialog {
    border: 1px solid #333;
}
.rating-container {
    padding-top: 0.2em;
    width: 4em;
    text-align: center;
    img {
        width: 2.2em;
    }
    span {
        font-size: 0.9em;
    }
}
.el-alert {
    border: 1px solid #333;
}
.updatedInfo {
    color: grey;
    font-size: 0.8rem;
    a {
        cursor: pointer;
        text-decoration: underline;
    }
}
